.ko-grid-main {
	position:relative;
}

.ko-grid-head { 
	display:inline-block;
	font-weight:bold;
	white-space : nowrap;
	height:20px;
	line-height:20px;
	padding:0 10px;
}

.ko-grid-head-container{
	/* http://www.colorzilla.com/gradient-editor/ */
	background: #ebf1f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
	border:solid 1px black;
}

.ko-grid-head {
	border-left: solid 1px white;
}

.ko-grid-head:first-child {
	border-left: none;
}

.ko-grid-table {
	width:100%;
	border-collapse: collapse;
}

.ko-grid-cell {
	border: solid 1px black;
	padding:0 10px;
}

.ko-grid-scroll-container {
	overflow-y:scroll;
	height:300px;
}

.ko-grid-pager {
	overflow:hidden;
	text-align:center;
	height:26px;
	line-height:26px;
	border:solid 1px black;
	border-top:none;
	padding:0 10px 0 0;
	border-top: solid 1px black;
}

.ko-grid-pager > *{
	display:inline-block;
}

.ko-grid-refresh {
	float:left;
}

.ko-grid-total-text {
	float:right;
}

.ko-grid-page-size,
.ko-grid-paging-text,
.ko-grid-go-to-page {
	margin: 0 10px;
}

.ko-grid-go-to-page input{
	width:30px;
	text-align:center;
}

.ko-grid-is-sortable
{
    cursor: pointer;
}

.ko-grid-sort-icon { 
	background-color:transparent; 
	border:none;
	display:inline-block; 
    vertical-align:middle;
} 