@header-color:#ebf1f6;
@border-color: black;
@header-height: 20px;
.border-box {
	-mox-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.ko-grid-main {
	position:relative;
	overflow:hidden;
	border: solid 1px @border-color;
	.border-box;

	.ko-grid-head-container{
		background-color: @header-color;
		border-bottom:solid 1px @border-color;
		white-space:nowrap;
		height: @header-height;

		.ko-grid-head {
			display:inline-block;
			font-weight:bold;
			padding:0 10px;
			white-space : nowrap;
			position: relative;
			top:0px;
			float:  none;
			overflow: hidden;
			height:@header-height;
			line-height:@header-height;
			border-left: solid 1px @border-color;
			.border-box;

			&:first-child {
				border-left: none;
			}

			.ko-grid-is-sortable
			{
			    cursor: pointer;
			}

			.ko-grid-sort-icon {
				background-color:transparent;
				border:none;
				display:inline-block;
			    vertical-align:middle;
			}
		}
	}

	// if the main grid has the shrink to fit flag, override the min-height
	&.ko-grid-shrink-to-fit .ko-grid-scroll-container {
		min-height:0;
	}

	.ko-grid-scroll-container {
		overflow-y:scroll;
		width: 100%;
		position:relative;
		min-height:100px;

		table.ko-grid-table {
			width:100%;
			border-collapse: collapse;
			margin:-1px;

			.ko-grid-cell {
				border: solid 1px @border-color;
				padding:0 10px;
				&:first-child
				{
					border-left:none;
				}
			}
		}

		.ko-grid-no-rows {
			height:30px;
			line-height:30px;
			width:100%;
			position:absolute;
			top:48%;
			text-align:center;

			&:after {
				content : '\00a0';
			}
		}
	}

	.ko-grid-pager {
		overflow:hidden;
		text-align:center;
		height:26px;
		line-height:26px;
		border-top:none;
		padding:0 10px 0 0;
		border-top: solid 1px @border-color;

		& > *{
			display:inline-block;
		}

		.ko-grid-refresh {
			float:left;
		}

		.ko-grid-total-text {
			float:right;
		}

		.ko-grid-page-size,
		.ko-grid-paging-text,
		.ko-grid-go-to-page {
			margin: 0 10px;
		}

		.ko-grid-go-to-page input{
			width:30px;
			text-align:center;
		}
	}
}